@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  text-align: left;
}
html,
body {
  min-height: 100%;
  background: #fff;
  color: #000;
}

:root {
  /* code here */
}

#inner_page_container {
  padding: 10px;
  border: 2px solid black;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#section1 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(12vh, auto);
  /* margin-left: 10%;
  margin-right: 10%; */
}
#section1__navbar {
  border: 2px solid greenyellow;
  display: flex;
  justify-content: space-between;
  grid-column: 2/12;
  grid-row: 1/2;
  padding-top: 30px;
}
#section1__heading {
  font-size: min (18px);
  font-size: 10%;
  font-size: max (28px);
  font-weight: 700;
  line-height: 45px;
  border: 2px solid rgb(255, 125, 64);
  grid-column: 2/6;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
  max-width: 30rem;
  position: relative;
}
#section1__description {
  grid-column: 2/7;
  grid-row: 3/4;
  position: relative;
  top: 10px;
}
#section1__logos {
  border: 2px solid blue;
  grid-column: 2/6;
  grid-row: 4/5;
  padding-top: 20px;
}
#section1__image {
  border: 2px solid green;
  grid-column: 7/13;
  grid-row: 2/6;
}
#section1__image__image {
  max-width: 75%;
}
#section1__heading__text__decoration1 {
  background-color: red;
  background-image: linear-gradient(45deg, #f59e0b, #ef4444);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
#section1__heading__text__decoration2 {
  background-color: red;
  background-image: linear-gradient(45deg, #5b21b6, #9d174d);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
/*^ --------------------section2------------------- */
#section2__container1 {
  height: auto;
  display: flex;
  position: relative;
}
#section2__container1__headline {
  position: relative;
  align-self: flex-start;
  width: 40vw;
  font-family: Roboto;
  font-size: 54px;
  font-weight: 900;
  color: rgb(0, 0, 0);
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.1);
  clip-path: url(#lockup-headline-mask-path);
}
#section2__container1__headline__visuallyhidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
#section2 {
  border: 2px solid brown;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(20vh, auto);
}
#section2__education {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid khaki;
  grid-area: 1 / 2 / 2 / 10;
  border: 2px solid rgb(255, 73, 88);
}
#section2__image1 {
  border: 2px solid rgb(94, 255, 108);
  grid-area: 1 / 11 / 2 / 13;
}
#section2__techstack {
  border: 2px solid rgb(224, 89, 112);
  grid-area: 3 / 2 / 7 / 12;
}
/*{ ---------------------------------- */
#section3 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 1350px;
  border: 2px solid rgb(22, 112, 27);
}
#section3_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
}

#section3__container__timeline {
  top: 9vh;
  width: 80%;
  height: 100%;
  max-width: 200vw;
  block-size: 1250px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 50px;
  border: 2px solid red;
}

#section3__container__timeline__ul {
  list-style: none;
}
.section3__container__timeline__li__h1 {
  color: rgb(0, 0, 0);
  line-height: 30px;
  border: 2px solid rgb(78, 78, 54);
}
.section3__container__timeline__li__h2 {
  line-height: 30px;
  margin-bottom: 10px;
  border: 2px solid rgb(223, 223, 48);
}
.section3__container__timeline__li__date {
  margin-bottom: 20px;
  letter-spacing: 2px;
  border: 2px solid rgb(243, 243, 159);
}
.section3__container__timeline__li__h4 {
  line-height: 25px;
  margin-bottom: 40px;
  width: 50vw;
  border: 2px solid rgb(189, 189, 107);
}
#section3__container__image {
  border: 2px solidrgb(35, 250, 125) d;
}
/* {-------------------section 4------------ */
#section4 {
  position: relative;
  border: 5px solid mediumvioletred;
  display: flex;
  height: 40rem;
  width: 100%;
  padding-bottom: 10rem;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*{ -------------section5-------------- */

#section5 {
  background-color: #17141d;
  color: white;
  height: 500px;
  border: 2px solid green;
  display: flex;
}

.section5__card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 350px;
  width: 400px;
  min-width: 250px;
  padding: 1.5rem;
  border-radius: 16px;
  background-color: #17141d;
  box-shadow: -1rem 0 3rem black;
}

/*{ ------------------footer----------------------*/

#footer {
  height: 200px;
  border: 2px solid yellow;
}
/*! The query will trigger only for screens that are greater than 768px -- Laptop and Desktop Screens*/
@media only screen and (min-width: 768px) {
  #section3__container__timeline::before {
    content: '';
    position: absolute;
    top: 0;
    width: 2px;
    height: 1250px;
    background-color: rgb(0, 0, 0);
  }
  #section3__container__timeline__li {
    position: relative;
    margin-bottom: 50px;
  }
  .section3__container__timeline__li::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    left: -15%;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    top: 0px;
    border: 2px solid greenyellow;
  }
  .section3__container__timeline__li {
    width: 90%;
    float: right;
    position: relative;
    margin-bottom: 50px;
  }
  .section3__container__timeline__li__h1 {
    left: 20px;
  }
  .section3__container__timeline__li__h2 {
    left: 9px;
  }
  .section3__container__timeline__li__h4 {
  }
  .section3__container__timeline__li {
    border: 3px solid rgb(134, 134, 190);
  }
}

/*{ --------------------MOBILE------------------------ */

/* for any width less than 425px(mobile) this will be triggered*/
/*? If [device width] is less than or equal to 425px, then do {…} */
@media only screen and (max-width: 425px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: medium;
  }
  p {
    font-size: small;
  }
  #section1 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(15vh, auto);
    /* margin-left: 10%;
    margin-right: 10%; */
  }
  #section1__heading {
    grid-column: 2/10;
    grid-row: 1/2;
    /* font-size: 24px; */
    font-weight: 600;
    margin-top: 4rem;
    line-height: 35px;
  }
  #section1__description {
    border: 2px solid rgb(2, 42, 116);
    grid-column: 2/12;
    grid-row: 2/3;
  }
  #section1__logos {
    border: 2px solid rgb(165, 77, 42);
    grid-column: 2/8;
    grid-row: 5/6;
  }
  #section1__image {
    border: 2px solid rgb(249, 62, 255);
    grid-column: 2/13;
    grid-row: 3/5;
  }
  #section1__image__image {
    width: 200px;
  }
  #section2__education {
    grid-area: 1 / 2 / 2 / 9;
  }
  #section2__image1 {
    grid-area: 1 / 10 / 2 / 13;
  }
  #section2__techstack {
    grid-area: 3 / 2 / 6 / 12;
  }
  .swiper-slide {
    font-size: 20px;
    border-radius: 14px;
  }
  #section3 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 1400px;
    border: 2px solid rgb(22, 112, 27);
  }
  #section4 {
    position: relative;
    border: 2px solid mediumvioletred;
    display: flex;
    top: 122px;
    height: 180px;
    width: 130vw;
  }
}
/*{!} The query will trigger only for screens that are 758-425px wide -- tablet devices*/
@media only screen and (max-width: 768px) and (min-width: 425px) {
  /* code for tablets only */
  #section1__heading {
    border: 2px solid rgb(0, 170, 65);
    /* font-size: 28px; */
    font-weight: 600;
    line-height: 40px;
  }
  #section1__description {
    top: 10px;
  }
}
